<!--
<div class="container top">
  <div class="row">
    <p class="h1">Python</p>
</div>

<div class="container gap" *ngFor="let item of pythonCategory">
    <hr>
    <hr>
    <div class="row">
            <div class="col-md-8">

            <h1 class="text-success">{{item.blogTitle}}</h1>
            <p>{{item.blogDescription}}</p>
            <span class="like-count">{{item.likes}}</span>

            <button type="button" class="btn btn-default btn-lg" (click)="likePost()">
              <span class="glyphicon glyphicon-thumbs-up">{{likeCount}}</span> Like
            </button>
            <span class="comment-count">8</span>
            <button class="comment-button">💬</button>
            <i class="bi bi-command"></i>
            <button type="button" class="btn btn-default btn-sm">
              <span class="glyphicon glyphicon-share-alt"></span> Share
            </button>
            </div>
            <div class="col-md-2 text-primary" >{{item.author}}
            </div>
    </div>
    <hr>

</div> -->

<div class="container gap">
  <div class="row">
    <h1 class="text-danger">Python Articles</h1>
  </div>
  <div class="row">
    <div class="col-md-3" *ngFor="let item of pythonCategory">
      <div class="box">
        <a (click)="getBlogDescription(item.blogTitle)"><h1 class="text-success">{{item.blogTitle}}</h1></a>
        <div class="row">
          <div class="col-md-6">
            <li class="dropdown">
              <h2>{{item.author}}</h2>
              <ul  class="dropdown-content">
              <li class="dropdown-class" ><a>{{item.author}}</a></li>
              <br>
              <li class="dropdown-class" ><button class="btn btn-success btn-lg"> Follow</button></li>
              <hr>
              <li class="dropdown-class" >{{item.likes}} followers</li>
              </ul>
            </li>
          </div>
          <div class="col-md-6"><h4>{{item.formattedTimestamp}}</h4></div>
        </div>
        <button type="button" class="btn btn-default btn-lg">
          <span class="glyphicon glyphicon-thumbs-up"></span> Like
          <span>{{item.likes}}</span>
        </button>
        <button type="button" class="btn btn-default btn-lg">
          <span class="glyphicon glyphicon-share-alt"></span> Share
        </button>
        <button class="comment-button">💬</button>
        <span>{{item.comments}}</span>
      </div>
    </div>
  </div>
</div>


