
<div class="container header ">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6" style="text-align: center;"> <h1>Welcome To My Blog</h1> </div>
        <div class="col-md-3"></div>
    </div>

    <div class="row">
    <div class="col-md-2" ><a [routerLink]="['/home']" style="color: whitesmoke;">Home</a></div>
    <div class="col-md-2"><li class="dropdown">
        <a  style="color: whitesmoke;">Category</a>
        <ul  class="dropdown-content">
            <li class="dropdown-class" *ngFor="let item of listArray"><a (click)="Navigate(item.id)">
             {{item.name}}</a></li>
        </ul>
    </li></div>


    <div class="col-md-2"><a [routerLink]="['createblog']" style="color: whitesmoke;">Create a Blog</a></div>

    <div class=" col-md-4 search-bar">
      <input #inputfield class="search-input" type="text"  placeholder="Search..">
      <button  class="searchbutton" (click)="submit(inputfield.value)">click</button>
    </div>
    <div class="col-md-2 aa">
      <li class="dropdown">
      <a  style="color: whitesmoke;">Profile</a>
      <ul  class="dropdown-content">
          <li class="dropdown-class" *ngFor="let item of profileArray"><a (click)="profileNavigate(item.id)">
          {{item.name}}</a></li>
      </ul>
      </li>
    </div>
  </div>
</div>












