<div class="container" >
  <div class="row" *ngFor="let item of blogDesc" >
    <h1>Blog Title:</h1>
  <div class="row">
    <h1 class="text-success">{{item.blogTitle}}</h1>
  </div>
  <div class="row">
    <div class="col-md-4">
      <button type="button" class="btn btn-default btn-lg">
        <span class="glyphicon glyphicon-thumbs-up"></span> Like
        <span>{{item.likes}}</span>
      </button>
    </div>
    <div class="col-md-4">
      <button type="button" class="btn btn-default btn-lg">
        <span class="glyphicon glyphicon-share-alt"></span> Share
      </button>
    </div>
    <div class="col-md-4">
      <button class="comment-button">💬</button>
        <span>{{item.comments}}</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6"> <h2>Author:{{item.author}}</h2></div>
    <div class="col-md-6"><h4>Published On:{{item.formattedTimestamp}}</h4></div>
  </div>
  <div class="row">
    <h3>{{item.blogDescription}}</h3>
  </div>
  </div>
</div>

