/* .crt{
  text-align: center;
} */


.edit-profile-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

.profile-pic {
  text-align: center;
  margin-bottom: 20px;
}

.profile-pic img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.profile-pic button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 50%;
  padding: 5px 10px;
  margin-top: 10px;
  cursor: pointer;
}

.field {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.field label {
  width: 120px;
  text-align: right;
  margin-right: 10px;
  font-weight: bold;
}

.field button {
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
}

.field input[type="password"] {
  width: 100%;
  padding: 5px;
}

.field input[type="text"] {
  width: 100%;
  padding: 5px;
}

.add-more-info {
  text-align: center;
  margin: 20px 0;
}

.add-more-info button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.buttons {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.buttons button {
  background: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
}

.buttons button:nth-child(1) {
  border-color: #ccc;
}

.buttons button:nth-child(2) {
  background-color: #007bff;
  color: #fff;
  border: none;
}
