<div class="container gap">
  <div class="row">
    <h1 class="text-danger">Popular Articles</h1>
  </div>
  <div class="row">
    <div class="col-md-3" *ngFor="let item of popularArticles">
      <div class="box">
         <a (click)="getBlogDescription(item.blogTitle)"><h1 class="text-success">{{item.blogTitle}}</h1></a>
        <div class="row">
          <div class="col-md-6">
            <li class="dropdown">
              <h2>{{item.author}}</h2>
              <ul  class="dropdown-content">
              <li class="dropdown-class" ><a>{{item.author}}</a></li>
              <br>
              <li class="dropdown-class" ><button class="btn btn-success btn-lg"> Follow</button></li>
              <hr>
              <li class="dropdown-class" >{{item.likes}} followers</li>
              </ul>
            </li>
          </div>
          <div class="col-md-6"><h4>{{item.formattedTimestamp}}</h4></div>
        </div>
        <button type="button" class="btn btn-default btn-lg">
          <span class="glyphicon glyphicon-thumbs-up"></span> Like
          <span>{{item.likes}}</span>
        </button>
        <button type="button" class="btn btn-default btn-lg">
          <span class="glyphicon glyphicon-share-alt"></span> Share
        </button>
        <button class="comment-button">💬</button>
        <span>{{item.comments}}</span>
      </div>
    </div>
  </div>
</div>


