.author{
  display: flex;
  justify-content: right;
 }
 .gap{
   margin-top: 100px;
 }
 .top{
   margin-top: 100px;
   text-align: center;
   background-color: #cce5f8f6;
   padding: 100PX;
   font-size: larger;
 }
 .box {
   background-color: #f2f2f2;
   padding: 20px;
   border: 1px solid #ccc;
   text-align: center;
   height: 50vh;
   margin-top: 40px;
   margin-bottom: 30px;
 }
 .gap{
   margin-top: 50px;
 }
 a{
   text-decoration: none;
 }
 .dropdown {
  position: relative;
  display: inline-block;

}

.dropdown-class{
  height: 28px;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 150px;
    min-height: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    list-style: none; /* Remove bullet points */
    padding: 0;

}
.dropdown-content li {
    margin: 0;
    padding: 0;
}


.dropdown-content a {
  text-decoration: none;
  color: #333;
  display: block;
  padding: 10px;
  cursor: pointer;

}

/* .dropdown-content a:hover {
  background-color: #007bff;
  color: #fff;
} */

.dropdown:hover .dropdown-content {
  display: block;
}

