<!-- <div class="container gap">
  <div class="row">
    <h1 class="text-danger">Liked Articles</h1>
  </div>
  <div class="row">
    <div class="col-md-3" *ngFor="let item of popularArticles">
      <div class="box">
        <div class="row">
          <h1 class="text-success">{{item.title}}</h1>
        </div>
        <div class="row">
          <h2>{{item.author}}</h2>
        </div>
        <div class="row">
          <div class="col-md-6">
            <button type="button" class="btn btn-default btn-lg">
              <span class="glyphicon glyphicon-thumbs-up"></span> Like
              <span>{{item.likes}}</span>
            </button>
          </div>

          <div class="col-md-6">
            <button type="button" class="btn btn-default btn-lg">
              <span class="glyphicon glyphicon-share-alt"></span> Share
            </button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
 -->
