<div class="container gap">
  <div class="row">
    <h1 class="text-danger">Browse the Category</h1>
  </div>
  <div class="row">
    <div class="col-md-3" *ngFor="let item of categoryArray">
      <div class="category-box">
        <a (click)="Navigate(item.id)"><h1>{{item.name}}</h1></a>
        <a  (click)="Navigate(item.id)"><img src="{{item.img}}" alt="Category img" ></a>
      </div>
    </div>
  </div>
</div>


<hr>
<hr>

<div class="container gap">
  <div class="row">
    <h1 class="text-danger">Popular Articles</h1>
  </div>
  <div class="row">
    <div class="col-md-3" *ngFor="let item of popularArticles">
      <div class="box">
        <a  (click)="getBlogDescription(item.blogTitle)"><h1 class="text-success">{{item.blogTitle}}</h1></a>
        <div class="row">
          <div class="col-md-6">
            <li class="dropdown">
              <h2>{{item.author}}</h2>
              <ul  class="dropdown-content">
              <li class="dropdown-class" ><a>{{item.author}}</a></li>
              <br>
              <li class="dropdown-class" ><button class="btn btn-success btn-lg"> Follow</button></li>
              <hr>
              <li class="dropdown-class" >{{item.likes}} followers</li>
              </ul>
            </li>
          </div>
          <div class="col-md-6"><h4>{{item.formattedTimestamp}}</h4></div>
        </div>
        <button type="button" class="btn btn-default btn-lg">
          <span class="glyphicon glyphicon-thumbs-up"></span> Like
          <span>{{item.likes}}</span>
        </button>
        <button type="button" class="btn btn-default btn-lg">
          <span class="glyphicon glyphicon-share-alt"></span> Share
        </button>
        <button class="comment-button">💬</button>
        <span>{{item.comments}}</span>
      </div>
    </div>
  </div>
  <div class="row">
    <h2><a (click)="Navigate(5)" >See All Articles</a></h2>
  </div>
</div>

<hr>
<hr>

<div class="container gap">
  <div class="row">
    <h1 class="text-danger">Java Articles</h1>
  </div>
  <div class="row">
    <div class="col-md-3" *ngFor="let item of javaArticles">
      <div class="box">
        <a (click)="getBlogDescription(item.blogTitle)"><h1 class="text-success">{{item.blogTitle}}</h1></a>
        <div class="row">
          <div class="col-md-6">
            <li class="dropdown">
              <h2>{{item.author}}</h2>
              <ul  class="dropdown-content">
              <li class="dropdown-class" ><a>{{item.author}}</a></li>
              <br>
              <li class="dropdown-class" ><button class="btn btn-success btn-lg"> Follow</button></li>
              <hr>
              <li class="dropdown-class" >{{item.likes}} followers</li>
              </ul>
            </li>
          </div>
          <div class="col-md-6"><h4>{{item.formattedTimestamp}}</h4></div>
        </div>
        <button type="button" class="btn btn-default btn-lg">
          <span class="glyphicon glyphicon-thumbs-up"></span> Like
          <span>{{item.likes}}</span>
        </button>
        <button type="button" class="btn btn-default btn-lg">
          <span class="glyphicon glyphicon-share-alt"></span> Share
        </button>
        <button class="comment-button">💬</button>
        <span>{{item.comments}}</span>
      </div>
    </div>
  </div>
  <div class="row">
    <h2><a (click)="Navigate(6)" >See All Articles</a></h2>
  </div>
</div>

<hr>
<hr>

<div class="container gap">
  <div class="row">
    <h1 class="text-danger">Python Articles</h1>
  </div>
  <div class="row">
    <div class="col-md-3" *ngFor="let item of pythonArticles">
      <div class="box">
        <a (click)="getBlogDescription(item.blogTitle)"><h1 class="text-success">{{item.blogTitle}}</h1></a>
        <div class="row">
          <div class="col-md-6">
            <li class="dropdown">
              <h2>{{item.author}}</h2>
              <ul  class="dropdown-content">
              <li class="dropdown-class" ><a>{{item.author}}</a></li>
              <br>
              <li class="dropdown-class" ><button class="btn btn-success btn-lg"> Follow</button></li>
              <hr>
              <li class="dropdown-class" >{{item.likes}} followers</li>
              </ul>
            </li>
          </div>
          <div class="col-md-6"><h4>{{item.formattedTimestamp}}</h4></div>
        </div>
        <button type="button" class="btn btn-default btn-lg">
          <span class="glyphicon glyphicon-thumbs-up"></span> Like
          <span>{{item.likes}}</span>
        </button>
        <button type="button" class="btn btn-default btn-lg">
          <span class="glyphicon glyphicon-share-alt"></span> Share
        </button>
        <button class="comment-button">💬</button>
        <span>{{item.comments}}</span>
      </div>
    </div>
  </div>
  <div class="row">
    <h2><a (click)="Navigate(7)" >See All Articles</a></h2>
  </div>
</div>

<hr>
<hr>

<div class="container gap">
  <div class="row">
    <h1 class="text-danger">Webtech Articles</h1>
  </div>
  <div class="row">
    <div class="col-md-3" *ngFor="let item of webtechArticles">
      <div class="box">
        <a (click)="getBlogDescription(item.blogTitle)"><h1 class="text-success">{{item.blogTitle}}</h1></a>
        <div class="row">
          <div class="col-md-6">
            <li class="dropdown">
              <h2>{{item.author}}</h2>
              <ul  class="dropdown-content">
              <li class="dropdown-class" ><a>{{item.author}}</a></li>
              <br>
              <li class="dropdown-class" ><button class="btn btn-success btn-lg"> Follow</button></li>
              <hr>
              <li class="dropdown-class" >{{item.likes}} followers</li>
              </ul>
            </li>
          </div>
          <div class="col-md-6"><h4>{{item.formattedTimestamp}}</h4></div>
        </div>
        <button type="button" class="btn btn-default btn-lg">
          <span class="glyphicon glyphicon-thumbs-up"></span> Like
          <span>{{item.likes}}</span>
        </button>
        <button type="button" class="btn btn-default btn-lg">
          <span class="glyphicon glyphicon-share-alt"></span> Share
        </button>
        <button class="comment-button">💬</button>
        <span>{{item.comments}}</span>
      </div>
    </div>
  </div>
  <div class="row">
    <h2><a (click)="Navigate(8)" >See All Articles</a></h2>
  </div>
</div>

<hr>
<hr>

<div class="container gap">
  <div class="row">
    <h1 class="text-danger">Database Articles</h1>
  </div>
  <div class="row">
    <div class="col-md-3" *ngFor="let item of dbArticles">
      <div class="box">
        <a (click)="getBlogDescription(item.blogTitle)"><h1 class="text-success">{{item.blogTitle}}</h1></a>
        <div class="row">
          <div class="col-md-6">
            <li class="dropdown">
              <h2>{{item.author}}</h2>
              <ul  class="dropdown-content">
              <li class="dropdown-class" ><a>{{item.author}}</a></li>
              <br>
              <li class="dropdown-class" ><button class="btn btn-success btn-lg"> Follow</button></li>
              <hr>
              <li class="dropdown-class" >{{item.likes}} followers</li>
              </ul>
            </li>
          </div>
          <div class="col-md-6"><h4>{{item.formattedTimestamp}}</h4></div>
        </div>
        <button type="button" class="btn btn-default btn-lg">
          <span class="glyphicon glyphicon-thumbs-up"></span> Like
          <span>{{item.likes}}</span>
        </button>
        <button type="button" class="btn btn-default btn-lg">
          <span class="glyphicon glyphicon-share-alt"></span> Share
        </button>
        <button class="comment-button">💬</button>
        <span>{{item.comments}}</span>
      </div>
    </div>
  </div>
  <div class="row">
    <h2><a (click)="Navigate(9)" >See All Articles</a></h2>
  </div>
</div>


