<h2 >Register Form</h2>
<div class="container">
  <div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4 color" >

      <form [formGroup]="register" (ngSubmit)="getData()">
        <br>
        <input type="text" placeholder="username" formControlName="name" ><br>
        <span *ngIf="vname && vname.invalid && vname.touched" >Enter Name</span>
        <br>
        <input type="email" placeholder="Email" formControlName="email" ><br>
        <span *ngIf="vemail && vemail.invalid && vemail.touched" >Enter valid Email Id</span>
        <br>
        <input type="password" placeholder="password" formControlName="password" ><br>
        <span *ngIf="vpassword && vpassword.invalid && vpassword.touched" >Enter valid password</span>
        <br>

        <input type="tel" placeholder="Contact Number" formControlName="contactNumber" ><br>
        <span *ngIf="vemail && vemail.invalid && vemail.touched" >Enter valid Phone number</span>
        <br>

        <div style="text-align: center;">
          <button [disabled]="register.invalid" type="submit" class="btn btn-primary" (click)="registervaild()"  >Register</button>
        </div>
      </form>

    </div>
    <div>
        <h4 style="text-align: center;">Already have an account?<a [routerLink]="['/login']">Login</a></h4>
    </div>
    <div class="col-lg-4"></div>
  </div>
</div>
